header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  ul li {
    margin: 0 15px;
  }

  ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
  }
}
